
[DEFAULT]
ConnectionType=initiator
SenderCompID=CLIENT2
TargetCompID=OMS
BeginString=FIX.4.4
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=60
UseDataDictionary=Y
DataDictionary=config/FIX44.XML
FileStorePath=store
FileLogPath=log
ResetOnLogon=Y

# Connect to the OMS acceptor running on localhost port 5001
[SESSION]
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
